<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testngPrograms.TestngFirstProgram"/>
      <class name="testngPrograms.firstprogram1"/>
      <class name="testngPrograms.thirdprogram"/>
      <class name="testngPrograms.fifthprogram"/>
      <class name="testngPrograms.fourthprogram"/>
      <class name="testngPrograms.secondprogram"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
